{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="container mt-5 " style="font-size: large">
    <p class="text-center font-weight-bold">
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p class="text-center font-weight-light">If you don't receive an email please check your spam folder or <a class="text-decoration-none" href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
    </div>
{% endblock %}
